.product-idea {
  width: 80%;
  max-width: 1200px;       
  box-sizing: border-box;  
  margin: 20px auto;       
  padding: 20px;           
  outline: 1px dashed red; 
}


.product-idea__title {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 20px;
}


.product-idea__content {
  display: flex;
  flex-wrap: wrap;        
  gap: 20px;
  align-items: flex-start;
}

.product-idea__image {
  flex: 0 0 30%;
  max-width: 10%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
  margin-top:10px;
}

.product-idea__description {
  flex: 1 1 60%;
  min-width: 200px;
  font-size: 1rem;
  line-height: 1.4;
}

.product-idea__block--first {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 1.5;
}
