.simple-text-block {
  width: 80%;
  margin: auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.simple-text-block__paragraph {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}
